@import 'tailwindcss';

@theme {
  --color-primary: #2b2d30;
  --color-secondary: #1e1f22;
}

:root {
  font-family: Helvetica, sans-serif;

  color: #dfe1e5;
  background-color: var(--color-secondary);
}

html, body, #root, main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
